In [3]:
import pandas as pd
import numpy as np

**Questão 1:**

Uma lista é um array que pode conter elementos de vários tipos e esses elementos são acessados através das posições, ou índices, dentro dela.

Um dicionário também pode conter elementos de vários tipos, mas usa, para cada elemento, uma chave correspondente a ele.

Um array numpy possui elementos do mesmo tipo, mas, como a lista, cada um é associado a um índice.

Series é uma estrutura mutável, heterogêneas, vetorizaveis e também indexadas, tanto por posições, como também por índices específicos (ou chaves)

**Questão 2:**

In [4]:
ser = pd.Series(np.random.randint(1, 10, 35))
df1 = pd.DataFrame(ser.values.reshape(7,5))
df1

   0  1  2  3  4
0  2  9  5  1  1
1  6  2  9  6  1
2  3  5  2  2  1
3  4  9  8  9  7
4  1  2  1  7  7
5  4  3  9  2  5
6  5  1  6  4  1

**Questão 3:**

In [5]:
Bostondf = pd.read_csv("https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv")

pd.DataFrame(data = [Bostondf['medv'], Bostondf['crim']])

,0,1,2,3,4,5,6,7,8,9,...,496,497,498,499,500,501,502,503,504,505
medv,24.00000,21.60000,34.70000,33.40000,36.20000,28.70000,22.90000,27.10000,16.50000,18.90000,...,19.7000,18.30000,21.20000,17.50000,16.80000,22.40000,20.60000,23.90000,22.00000,11.90000
crim,0.00632,0.02731,0.02729,0.03237,0.06905,0.02985,0.08829,0.14455,0.21124,0.17004,...,0.2896,0.26838,0.23912,0.17783,0.22438,0.06263,0.04527,0.06076,0.10959,0.04741

**Questão 4:**

In [6]:
df4 = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

df4.info

<bound method DataFrame.info of    Manufacturer    Model     Type  Min.Price  Price  Max.Price  MPG.city  \
0         Acura  Integra    Small       12.9   15.9       18.8      25.0
1           NaN   Legend  Midsize       29.2   33.9       38.7      18.0
2          Audi       90  Compact       25.9   29.1       32.3      20.0
3          Audi      100  Midsize        NaN   37.7       44.6      19.0
4           BMW     535i  Midsize        NaN   30.0        NaN      22.0
..          ...      ...      ...        ...    ...        ...       ...
88   Volkswagen  Eurovan      Van       16.6   19.7       22.7      17.0
89   Volkswagen   Passat  Compact       17.6   20.0       22.4      21.0
90   Volkswagen  Corrado   Sporty       22.9   23.3       23.7      18.0
91        Volvo      240  Compact       21.8   22.7       23.5      21.0
92          NaN      850  Midsize       24.8   26.7       28.5      20.0

    MPG.highway             AirBags DriveTrain  ... Passengers  Length  \
0          31.0                None      Front  ...        5.0   177.0
1          25.0  Driver & Passenger      Front  ...        5.0   195.0
2          26.0         Driver only      Front  ...        5.0   180.0
3          26.0  Driver & Passenger        NaN  ...        6.0   193.0
4          30.0                 NaN       Rear  ...        4.0   186.0
..          ...                 ...        ...  ...        ...     ...
88         21.0                None      Front  ...        7.0   187.0
89         30.0                None      Front  ...        5.0   180.0
90         25.0                None      Front  ...        4.0   159.0
91         28.0         Driver only       Rear  ...        5.0   190.0
92         28.0  Driver & Passenger      Front  ...        5.0   184.0

    Wheelbase  Width  Turn.circle Rear.seat.room  Luggage.room  Weight  \
0       102.0   68.0         37.0           26.5           NaN  2705.0
1       115.0   71.0         38.0           30.0          15.0  3560.0
2       102.0   67.0         37.0           28.0          14.0  3375.0
3       106.0    NaN         37.0           31.0          17.0  3405.0
4       109.0   69.0         39.0           27.0          13.0  3640.0
..        ...    ...          ...            ...           ...     ...
88      115.0   72.0         38.0           34.0           NaN  3960.0
89      103.0   67.0         35.0           31.5          14.0  2985.0
90       97.0   66.0         36.0           26.0          15.0  2810.0
91      104.0   67.0         37.0           29.5          14.0  2985.0
92      105.0   69.0         38.0           30.0          15.0  3245.0

     Origin                Make
0   non-USA       Acura Integra
1   non-USA        Acura Legend
2   non-USA             Audi 90
3   non-USA            Audi 100
4   non-USA            BMW 535i
..      ...                 ...
88      NaN  Volkswagen Eurovan
89  non-USA   Volkswagen Passat
90  non-USA  Volkswagen Corrado
91  non-USA           Volvo 240
92  non-USA           Volvo 850

[93 rows x 27 columns]>

A partir do comando .info, pôde-se ver que existem valores faltosos (NaN)

**Questão 5:**

In [7]:
df4.rename(columns=dict(zip(df4.columns, df4.columns.str.replace('.', '_')))).rename(columns = {'Type':'CarType'})

<ipython-input-7-f3bed46f37da>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  df4.rename(columns=dict(zip(df4.columns, df4.columns.str.replace('.', '_')))).rename(columns = {'Type':'CarType'})

,Manufacturer,Model,CarType,Min_Price,Price,Max_Price,MPG_city,MPG_highway,AirBags,DriveTrain,...,Passengers,Length,Wheelbase,Width,Turn_circle,Rear_seat_room,Luggage_room,Weight,Origin,Make
0,Acura,Integra,Small,12.9,15.9,18.8,25.0,31.0,None,Front,...,5.0,177.0,102.0,68.0,37.0,26.5,NaN,2705.0,non-USA,Acura Integra
1,NaN,Legend,Midsize,29.2,33.9,38.7,18.0,25.0,Driver & Passenger,Front,...,5.0,195.0,115.0,71.0,38.0,30.0,15.0,3560.0,non-USA,Acura Legend
2,Audi,90,Compact,25.9,29.1,32.3,20.0,26.0,Driver only,Front,...,5.0,180.0,102.0,67.0,37.0,28.0,14.0,3375.0,non-USA,Audi 90
3,Audi,100,Midsize,NaN,37.7,44.6,19.0,26.0,Driver & Passenger,NaN,...,6.0,193.0,106.0,NaN,37.0,31.0,17.0,3405.0,non-USA,Audi 100
4,BMW,535i,Midsize,NaN,30.0,NaN,22.0,30.0,NaN,Rear,...,4.0,186.0,109.0,69.0,39.0,27.0,13.0,3640.0,non-USA,BMW 535i
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,Volkswagen,Eurovan,Van,16.6,19.7,22.7,17.0,21.0,None,Front,...,7.0,187.0,115.0,72.0,38.0,34.0,NaN,3960.0,NaN,Volkswagen Eurovan
89,Volkswagen,Passat,Compact,17.6,20.0,22.4,21.0,30.0,None,Front,...,5.0,180.0,103.0,67.0,35.0,31.5,14.0,2985.0,non-USA,Volkswagen Passat
90,Volkswagen,Corrado,Sporty,22.9,23.3,23.7,18.0,25.0,None,Front,...,4.0,159.0,97.0,66.0,36.0,26.0,15.0,2810.0,non-USA,Volkswagen Corrado
91,Volvo,240,Compact,21.8,22.7,23.5,21.0,28.0,Driver only,Rear,...,5.0,190.0,104.0,67.0,37.0,29.5,14.0,2985.0,non-USA,Volvo 240
92,NaN,850,Midsize,24.8,26.7,28.5,20.0,28.0,Driver & Passenger,Front,...,5.0,184.0,105.0,69.0,38.0,30.0,15.0,3245.0,non-USA,Volvo 850

**Questão 6:**

In [8]:
df4.isnull().sum()

Manufacturer           4
Model                  1
Type                   3
Min.Price              7
Price                  2
Max.Price              5
MPG.city               9
MPG.highway            2
AirBags                6
DriveTrain             7
Cylinders              5
EngineSize             2
Horsepower             7
RPM                    3
Rev.per.mile           6
Man.trans.avail        5
Fuel.tank.capacity     8
Passengers             2
Length                 4
Wheelbase              1
Width                  6
Turn.circle            5
Rear.seat.room         4
Luggage.room          19
Weight                 7
Origin                 5
Make                   3
dtype: int64

A coluna com maior quantidade de valores ausentes é **Luggage.room**

**Questão 7:**

In [ ]:
df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))

type(df[['a']])
type(df.loc[:, ['a']])

**Questão 8:**

In [ ]:
df[list('cbade')]

In [ ]:
def mudacolunas(df, colu1, colu2):
    colunas = df.columns.tolist()
    i1, i2 = colunas.index(colu1), colunas.index(colu2)
    colunas[i2], colunas[i1] = colunas[i1], colunas[i2]
    return df[colunas]

outdf = mudacolunas(df, 'a', 'c')

In [ ]:
df.sort_index(axis=1, ascending=False)

**Questão 9:**

In [ ]:
dataframe = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
pd.set_option('display.max_columns', 10)
pd.set_option('display.max_rows', 10)

**Questão 10:**

In [ ]:
dataframe.iloc[::20, :][['Manufacturer', 'Model', 'Type']]

**Questão 11:**

In [ ]:
somacolunas = dataframe.apply(np.sum, axis=1)
dataframe.iloc[np.where(somacolunas > 100)[0][-2:], :]

**Questão 12:**

In [ ]:
df = pd.DataFrame(np.arange(25).reshape(5,−1))

a, b = df.iloc[1, :].copy(), df.iloc[2, :].copy()
df.iloc[1, :], df.iloc[2, :] = b, a